---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-testing-oig-2025-06-26.oktapreview.com
        form:
            limit:
                - "10"
        headers:
        url: https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v2/requests?limit=10
        method: GET
      response:
        body: '{"data":[{"id":"req104m9jj3BIbY211d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-08-06T03:21:04Z","lastUpdated":"2025-08-06T04:32:43Z","lastUpdatedBy":"pcankwkrfwChFausp1d7","_links":{"approvalCondition":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v2/resources/0oaoor8pgctVxBTps1d7/request-conditions/rco1047yvylGKHRGF1d7","hints":{}},"approvalSequence":{"href":"https://dcp-testing-oig-2025-06-26.at.oktapreview.com/next/sequences/68920b41386747a673869356","hints":{}},"self":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v2/requests/req104m9jj3BIbY211d7","hints":{}}},"status":"APPROVED","resolved":"2025-08-06T04:32:42Z","grantStatus":"GRANTED","granted":"2025-08-06T04:32:43Z","requestedBy":{"externalId":"00unkw1sfbTw08c0g1d7","type":"OKTA_USER"},"requestedFor":{"externalId":"00unkw1sfbTw08c0g1d7","type":"OKTA_USER"},"requested":{"entryId":"cen1049ihdUc4Uqz61d7","resourceId":"0oaoor8pgctVxBTps1d7","resourceType":"APPLICATION","accessScopeId":"0oaoor8pgctVxBTps1d7","accessScopeType":"APPLICATION"}},{"id":"req104m9rv4ICRoV51d7","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-08-06T03:18:25Z","lastUpdated":"2025-08-06T03:20:45Z","lastUpdatedBy":"pcankwkrfwChFausp1d7","_links":{"approvalCondition":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v2/resources/0oaoor8pgctVxBTps1d7/request-conditions/rco1047yvylGKHRGF1d7","hints":{}},"approvalSequence":{"href":"https://dcp-testing-oig-2025-06-26.at.oktapreview.com/next/sequences/68920b41386747a6[...]
