---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-testing-oig-2025-06-26.oktapreview.com
        form:
            limit:
                - "1"
        headers:
        url: https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v1/reviews?limit=1
        method: GET
      response:
        body: '{"data":[{"_links":{"self":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/reviews/icrzc6rq5l6GrTKPK1d6","hints":{}},"reassignReview":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/campaigns/icizc47q85K1wzRxQ1d6/reviews/reassign","hints":{}}},"id":"icrzc6rq5l6GrTKPK1d6","createdBy":"sprnkw1sbv12bUefI1d7","created":"2025-07-10T05:20:05Z","lastUpdated":"2025-07-10T05:35:45Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","campaignId":"icizc47q85K1wzRxQ1d6","resourceId":"0oanlpd3xkLkePi3W1d7","decision":"APPROVE","decided":"2025-07-10T05:35:42Z","remediationStatus":"SUCCESS","principalProfile":{"id":"00unkw1sfbTw08c0g1d7","email":"aditya.anand@okta.com","firstName":"Aditya","lastName":"Anand","status":"ACTIVE","type":"USER"},"reviewerProfile":{"id":"00unkw1sfbTw08c0g1d7","email":"aditya.anand@okta.com","firstName":"Aditya","lastName":"Anand","status":"ACTIVE","type":"USER"},"reviewerType":"USER","assignmentType":"GROUP","assignments":[],"riskRuleConflicts":[],"delegated":false}],"_links":{"self":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/reviews?limit=1&orderBy=created%20asc","hints":{}},"next":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/reviews?after=icrzc6rq5l6GrTKPK1d6&limit=1&orderBy=created%20asc","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            X-Rate-Limit-Limit:
                - "50"
            X-Rate-Limit-Remaining:
                - "48"
            X-Rate-Limit-Reset:
                - "1773076595"
        status: 200 OK
        code: 200
        duration: 344.904833ms
    - id: 1
      request:
        host: dcp-testing-oig-2025-06-26.oktapreview.com
        headers:
        url: https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v1/reviews/icrzc6rq5l6GrTKPK1d6
        method: GET
      response:
        body: '{"id":"icrzc6rq5l6GrTKPK1d6","createdBy":"sprnkw1sbv12bUefI1d7","created":"2025-07-10T05:20:05Z","lastUpdated":"2025-07-10T05:35:45Z","lastUpdatedBy":"00unkw1sfbTw08c0g1d7","_links":{"self":{"href":"https://dcp-testing-oig-2025-06-26-adm[...]
