---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-testing-oig-2025-06-26.oktapreview.com
        form:
            filter:
                - not(parent pr)
            limit:
                - "10"
        headers:
        url: https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v2/catalogs/default/user/00unkw1sfbTw08c0g1d7/entries?filter=not%28parent+pr%29&limit=10
        method: GET
      response:
        body: '{"data":[{"id":"cen127svtkAWYh4Qt1d7","name":"DhiwakarOct01","label":"Application","requestable":false,"_links":{"self":{"href":"https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v2/catalogs/default/entries/cen127svtkAWYh4Qt1d7","hints":{}},"logo":[{"href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","hints":{}}],"relatedEntity":{"href":"https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/apps/0oaqjx36miFw0UDh81d7","hints":{}}}},{"id":"cen127t7tvDYkLv1e1d7","name":"DhiwakarOct2","label":"Application","requestable":false,"_links":{"self":{"href":"https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v2/catalogs/default/entries/cen127t7tvDYkLv1e1d7","hints":{}},"logo":[{"href":"https://op3static.oktacdn.com/assets/img/logos/default.6770228fb0dab49a1695ef440a5279bb.png","hints":{}}],"relatedEntity":{"href":"https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/apps/0oaqjy2caepCLXYNc1d7","hints":{}}}},{"id":"cen1043mnuxScMKl91d7","name":"Workplace by Facebook by Dhiwakar","label":"Application","requestable":false,"_links":{"self":{"href":"https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v2/catalogs/default/entries/cen1043mnuxScMKl91d7","hints":{}},"logo":[{"href":"https://op3static.oktacdn.com/fs/bcg/4/gfs19iest17hvYw191d8","hints":{}}],"relatedEntity":{"href":"https://dcp-testing-oig-2025-06-26.oktapreview.com/api/v1/apps/0oaoum6j3cElINe1z1d7","hints":{}}}}],"_links":{"self":{"href":"https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v2/catalogs/default/entries?filter=not(parent%20pr)&limit=10","hints":{}},"atspoke":{"href":"https://dcp-testing-oig-2025-06-26.at.oktapreview.com/next/request-types/all","hints":{}},"match":{"href":"https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v2/catalogs/default/entries?match","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v2/catalogs/default/entries?filter=not(parent%20pr)&limit=10>; rel="self"
                - <https://dcp-testing-oig-2025-06-26.at.oktapreview.com/next/request-types/all>; rel="atspoke"
                - <https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v2/catalogs/default/entries?match>; rel="match"
            X-Rate-Limit-Limit:
                - "50"
            X-Rate-Limit-Remaining:
                - "49"
            X-Rate-Limit-Reset:
                - "1773201756"
        status: 200 OK
        code: 200
        duration: 382.726208ms
