---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-testing-oig-2025-06-26.oktapreview.com
        form:
            limit:
                - "1"
        headers:
        url: https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v2/security-access-reviews?limit=1
        method: GET
      response:
        body: '{"data":[],"_links":{"self":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v2/security-access-reviews?limit=1&orderBy=created%20asc","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v2/security-access-reviews?limit=1&orderBy=created%20asc>; rel="self"
            X-Rate-Limit-Limit:
                - "50"
            X-Rate-Limit-Remaining:
                - "44"
            X-Rate-Limit-Reset:
                - "1773201801"
        status: 200 OK
        code: 200
        duration: 372.7445ms
