---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-testing-oig-2025-06-26.oktapreview.com
        body: |
            {"name":"Test Campaign | SDK Unit Test","remediationSettings":{"accessApproved":"NO_ACTION","accessRevoked":"DENY","noResponse":"NO_ACTION"},"resourceSettings":{"targetResources":[{"resourceId":"00gnkw1sdqL30MdGk1d7","resourceType":"GROUP"}],"type":"GROUP"},"reviewerSettings":{"reviewerGroupId":"00gnkw1sdqL30MdGk1d7","reviewerId":"00unkw1sfbTw08c0g1d7","reviewerScopeExpression":"user.profile.reviewerId","type":"USER"},"scheduleSettings":{"durationInDays":30,"startDate":"2025-10-04T13:43:40Z","timeZone":"America/New_York","type":"ONE_OFF"}}
        headers:
            Content-Type:
                - application/json
        url: https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v1/campaigns
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: Campaign","errorLink":"E0000001","errorId":"oaeUui5Rf5cTEiglhFS4IxRzg","errorCauses":[{"errorSummary":"Campaign template start date must be a future date"}]}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            X-Rate-Limit-Limit:
                - "50"
            X-Rate-Limit-Remaining:
                - "46"
            X-Rate-Limit-Reset:
                - "1773201077"
        status: 400 Bad Request
        code: 400
        duration: 345.391208ms
