---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-testing-oig-2025-06-26.oktapreview.com
        form:
            limit:
                - "10"
        headers:
        url: https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v1/campaigns?limit=10
        method: GET
      response:
        body: '{"data":[{"name":"Group Campaign | User Reviewer Expression","startDate":"2025-10-04T13:50:01Z","endDate":"2025-10-04T13:50:04Z","scheduleType":"ONE_OFF","reviewerType":"USER","_links":{"launchCampaign":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/campaigns/iciz3qji61kXQjaFJ1d6/launch","hints":{}},"endCampaign":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/campaigns/iciz3qji61kXQjaFJ1d6/end","hints":{}},"reviews":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/reviews?filter=campaignId%20eq%20%22iciz3qji61kXQjaFJ1d6%22","hints":{}},"self":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/campaigns/iciz3qji61kXQjaFJ1d6","hints":{}}},"id":"iciz3qji61kXQjaFJ1d6","createdBy":"00unkw1sfbTw08c0g1d7","created":"2025-07-01T10:40:04Z","lastUpdated":"2025-10-04T13:50:04Z","lastUpdatedBy":"sprnkw1sbv12bUefI1d7","status":"ERROR"},{"name":"Group Campaign | User Reviewer Expression2","startDate":"2025-10-04T13:50:01Z","endDate":"2025-10-04T13:50:04Z","scheduleType":"ONE_OFF","reviewerType":"USER","_links":{"launchCampaign":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/campaigns/iciz3tb1cSD9ktjmZ1d6/launch","hints":{}},"endCampaign":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/campaigns/iciz3tb1cSD9ktjmZ1d6/end","hints":{}},"reviews":{"hre[...]
