---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-testing-oig-2025-06-26.oktapreview.com
        form:
            filter:
                - parent.externalId eq "0oankw1sc6z965dIC1d7" AND parent.type eq "APPLICATION"
            limit:
                - "1"
        headers:
        url: https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v1/entitlements?filter=parent.externalId+eq+%220oankw1sc6z965dIC1d7%22+AND+parent.type+eq+%22APPLICATION%22&limit=1
        method: GET
      response:
        body: '{"data":[{"parentResourceOrn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:saasure:0oankw1sc6z965dIC1d7","parent":{"externalId":"0oankw1sc6z965dIC1d7","type":"APPLICATION"},"_links":{"self":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/entitlements/espyyxsx6rrrjGiIx1d6","hints":{}},"values":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/entitlements/espyyxsx6rrrjGiIx1d6/values?limit=1","hints":{}}},"id":"espyyxsx6rrrjGiIx1d6","name":"ACCESS_REQUESTS_ADMIN","externalValue":"ACCESS_REQUESTS_ADMIN","description":"An IGA admin role for managing access requests","multiValue":true,"required":false,"dataType":"array","createdBy":"pcankwjew5WvKbIc81d7","created":"2025-06-27T12:18:37Z","lastUpdated":"2025-06-27T12:18:37Z","lastUpdatedBy":"pcankwjew5WvKbIc81d7"}],"_links":{"self":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/entitlements?filter=parent.externalId%20eq%20%220oankw1sc6z965dIC1d7%22%20AND%20parent.type%20eq%20%22APPLICATION%22&limit=1&orderBy=name%20asc","hints":{}},"next":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/entitlements?filter=parent.externalId%20eq%20%220oankw1sc6z965dIC1d7%22%20AND%20parent.type%20eq%20%22APPLICATION%22&after=espyyxsx6rrrjGiIx1d6&limit=1&orderBy=name%20asc","hints":{}}},"metadata":{"total":16}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/entitlements?filter=parent.externalId%20eq%20%220oankw1sc6z965dIC1d7%22%20AND%20parent.type%20eq%20%22APPLICATION%22&limit=1&orderBy=name%20asc>; rel="self"
                - <https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/entitlements?filter=parent.externalId%20eq%20%220oankw1sc6z965dIC1d7%22%20AND%20parent.type%20eq%20%22APPLICATION%22&after=espyyxsx6rrrjGiIx1d6&limit=1&orderBy=name%20asc>; rel="next"
            X-Rate-Limit-Limit:
                - "50"
            X-Rate-Limit-Remaining:
                - "45"
            X-Rate-Limit-Reset:
                - "1773201740"
        status: 200 OK
        code: 200
        duration: 361.271333ms
    - id: 1
      request:
        host: dcp-testing-oig-2025-06-26.oktapreview.com
        headers:
        url: https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v1/entitlements/espyyxsx6rrrjGiIx1d6
        method: GET
      response:
        body: '{"parentResourceOrn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:saasure:0oankw1sc6z965dIC1d7","parent":{"externalId":"0oankw1sc6z965dIC1d7","type":"APPLICATION"},"values":[{"id":"entyyxsx7c5hbXwOn1d6","name":"ACCESS_REQUESTS_IAM_POLICY","externalValue":"orn:oktapreview:iam:00onkw1sbuAh3Q06I1d7:resource-sets:ACCESS_REQUESTS_IAM_POLICY","description":"A resource set managed by Access Requests Admin","orn":"orn:okta:governance:00onkw1sbuAh3Q06I1d7:entitlement-values:entyyxsx7c5hbXwOn1d6","createdBy":"pcankwjew5WvKbIc81d7","created":"2025-06-27T12:18:37Z","lastUpdated":"2025-06-27T12:18:37Z","lastUpdatedBy":"pcankwjew5WvKbIc81d7"}],"_links":{"self":{"href":"https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/entitlements/espyyxsx6rrrjGiIx1d6","hints":{}}},"metadata":{"total":1},"id":"espyyxsx6rrrjGiIx1d6","name":"ACCESS_REQUESTS_ADMIN","externalValue":"ACCESS_REQUESTS_ADMIN","description":"An IGA admin role for managing access requests","multiValue":true,"required":false,"dataType":"array","createdBy":"pcankwjew5WvKbIc81d7","created":"2025-06-27T12:18:37Z","lastUpdated":"2025-06-27T12:18:37Z","lastUpdatedBy":"pcankwjew5WvKbIc81d7"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://dcp-testing-oig-2025-06-26-admin.oktapreview.com/governance/api/v1/entitlements/espyyxsx6rrrjGiIx1d6>; rel="self"
            X-Rate-Limit-Limit:
                - "50"
            X-Rate-Limit-Remaining:
                - "49"
            X-Rate-Limit-Reset:
                - "1773201764"
        status: 200 OK
        code: 200
        duration: 370.603375ms
