---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-testing-oig-2025-06-26.oktapreview.com
        form:
            filter:
                - parent.externalId eq "0oankw1sc6z965dIC1d7" AND parent.type eq "APPLICATION"
        headers:
        url: https://dcp-testing-oig-2025-06-26.oktapreview.com/governance/api/v1/entitlements/values?filter=parent.externalId+eq+%220oankw1sc6z965dIC1d7%22+AND+parent.type+eq+%22APPLICATION%22
        method: GET
      response:
        body: '{"data":[{"id":"ent10vbm59zeFXScX1d7","name":"testAcc_replace_with_uuid","externalValue":"orn:oktapreview:iam:00onkw1sbuAh3Q06I1d7:resource-sets:iamohu8okbUTSrARn1d7","description":"testing, testing","orn":"orn:okta:governance:00onkw1sbuAh3Q06I1d7:entitlement-values:ent10vbm59zeFXScX1d7","entitlementId":"esp10vbm581n5rxHP1d7","parentResourceOrn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:saasure:0oankw1sc6z965dIC1d7","parent":{"externalId":"0oankw1sc6z965dIC1d7","type":"APPLICATION"},"createdBy":"pcankwjew5WvKbIc81d7","created":"2025-08-27T13:28:14Z","lastUpdated":"2025-08-27T13:28:14Z","lastUpdatedBy":"pcankwjew5WvKbIc81d7","_links":{},"labels":[]},{"id":"ent10vv69tNvZZGUj1d7","name":"ACCESS_CERTIFICATIONS_IAM_POLICY","externalValue":"orn:oktapreview:iam:00onkw1sbuAh3Q06I1d7:resource-sets:ACCESS_CERTIFICATIONS_IAM_POLICY","description":"A resource set managed by Access Certifications Admin","orn":"orn:okta:governance:00onkw1sbuAh3Q06I1d7:entitlement-values:ent10vv69tNvZZGUj1d7","entitlementId":"espyyzpbwwzhBGRAf1d6","parentResourceOrn":"orn:oktapreview:idp:00onkw1sbuAh3Q06I1d7:apps:saasure:0oankw1sc6z965dIC1d7","parent":{"externalId":"[...]
