---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-sep25.oktapreview.com
        form:
            limit:
                - "1"
        headers:
        url: https://dcp-sep25.oktapreview.com/governance/api/v1/entitlement-bundles?limit=1
        method: GET
      response:
        body: '{"data":[{"orn":"orn:okta:governance:00oqd1g3fdTDtBPM01d7:entitlement-bundles:enb18v0ta5boKOyxA1d7","targetResourceOrn":"orn:oktapreview:idp:00oqd1g3fdTDtBPM01d7:apps:saasure:0oaqd1g3fn0YwD9sU1d7","target":{"externalId":"0oaqd1g3fn0YwD9sU1d7","type":"APPLICATION"},"status":"ACTIVE","entitlements":[],"_links":{"self":{"href":"https://dcp-sep25-admin.oktapreview.com/governance/api/v1/entitlement-bundles/enb18v0ta5boKOyxA1d7","hints":{}}},"name":"Group Administrator","description":"Group Administrator","id":"enb18v0ta5boKOyxA1d7","createdBy":"pcaqd21mhdUUbRwMT1d7","created":"2026-03-11T07:59:42Z","lastUpdated":"2026-03-11T07:59:42Z","lastUpdatedBy":"pcaqd21mhdUUbRwMT1d7"}],"_links":{"self":{"href":"https://dcp-sep25-admin.oktapreview.com/governance/api/v1/entitlement-bundles?limit=1","hints":{}},"next":{"href":"https://dcp-sep25-admin.oktapreview.com/governance/api/v1/entitlement-bundles?after=enb18v0ta5boKOyxA1d7&limit=1","hints":{}}},"metadata":{"total":12}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://dcp-sep25-admin.oktapreview.com/governance/api/v1/entitlement-bundles?limit=1>; rel="self"
                - <https://dcp-sep25-admin.oktapreview.com/governance/api/v1/entitlement-bundles?after=enb18v0ta5boKOyxA1d7&limit=1>; rel="next"
            X-Rate-Limit-Limit:
                - "50"
            X-Rate-Limit-Remaining:
                - "48"
            X-Rate-Limit-Reset:
                - "1773221206"
        status: 200 OK
        code: 200
        duration: 379.805167ms
    - id: 1
      request:
        host: dcp-sep25.oktapreview.com
        headers:
        url: https://dcp-sep25.oktapreview.com/governance/api/v1/entitlement-bundles/enb18v0ta5boKOyxA1d7
        method: GET
      response:
        body: '{"orn":"orn:okta:governance:00oqd1g3fdTDtBPM01d7:entitlement-bundles:enb18v0ta5boKOyxA1d7","targetResourceOrn":"orn:oktapreview:idp:00oqd1g3fdTDtBPM01d7:apps:saasure:0oaqd1g3fn0YwD9sU1d7","target":{"externalId":"0oaqd1g3fn0YwD9sU1d7","type":"APPLICATION"},"status":"ACTIVE","entitlements":[{"values":[{"id":"ent18v0zy6oGI3Cpk1d7","name":"All groups","externalValue":"orn:oktapreview:directory:00oqd1g3fdTDtBPM01d7:groups","description":"All groups","orn":"orn:okta:governance:00oqd1g3fdTDtBPM01d7:entitlement-values:ent18v0zy6oGI3Cpk1d7","createdBy":"pcaqd21mhdUUbRwMT1d7","created":"2026-03-11T07:59:42Z","lastUpdated":"2026-03-11T07:59:42Z","lastUpdatedBy":"pcaqd21mhdUUbRwMT1d7"}],"id":"esp18v0zy52JLdp9v1d7","name":"GroupAdmin","externalValue":"ro1ffiDIAATQIYBVTZNH","description":"Group Administrator","multiValue":true,"required":false,"dataType":"array"}],"_links":{"self":{"href":"https://dcp-sep25-admin.oktapreview.com/governance/api/v1/entitlement-bundles/enb18v0ta5boKOyxA1d7","hints":{}}},"name":"Group Administrator","description":"Group Administrator","id":"enb18v0ta5boKOyxA1d7","createdBy":"pcaqd21mhdUUbRwMT1d7","created":"2026-03-11T07:59:42Z","lastUpdated":"2026-03-11T07:59:42Z","lastUpdatedBy":"pcaqd21mhdUUbRwMT1d7"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://dcp-sep25-admin.oktapreview.com/governance/api/v1/entitlement-bundles/enb18v0ta5boKOyxA1d7>; rel="self"
            X-Rate-Limit-Limit:
                - "50"
            X-Rate-Limit-Remaining:
                - "47"
            X-Rate-Limit-Reset:
                - "1773221206"
        status: 200 OK
        code: 200
        duration: 383.484667ms
