---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-sep25.oktapreview.com
        form:
            limit:
                - "10"
        headers:
        url: https://dcp-sep25.oktapreview.com/governance/api/v1/entitlement-bundles?limit=10
        method: GET
      response:
        body: '{"data":[{"orn":"orn:okta:governance:00oqd1g3fdTDtBPM01d7:entitlement-bundles:enb18v0ta5boKOyxA1d7","targetResourceOrn":"orn:oktapreview:idp:00oqd1g3fdTDtBPM01d7:apps:saasure:0oaqd1g3fn0YwD9sU1d7","target":{"externalId":"0oaqd1g3fn0YwD9sU1d7","type":"APPLICATION"},"status":"ACTIVE","entitlements":[],"_links":{"self":{"href":"https://dcp-sep25-admin.oktapreview.com/governance/api/v1/entitlement-bundles/enb18v0ta5boKOyxA1d7","hints":{}}},"name":"Group Administrator","description":"Group Administrator","id":"enb18v0ta5boKOyxA1d7","createdBy":"pcaqd21mhdUUbRwMT1d7","created":"2026-03-11T07:59:42Z","lastUpdated":"2026-03-11T07:59:42Z","lastUpdatedBy":"pcaqd21mhdUUbRwMT1d7"},{"orn":"orn:okta:governance:00oqd1g3fdTDtBPM01d7:entitlement-bundles:enb18v0xqkrZKoXkX1d7","targetResourceOrn":"orn:oktapreview:idp:00oqd1g3fdTDtBPM01d7:apps:saasure:0oaqd1g3fn0YwD9sU1d7","target":{"externalId":"0oaqd1g3fn0YwD9sU1d7","type":"APPLICATION"},"status":"ACTIVE","entitlements":[],"_links":{"self":{"href":"https://dcp-sep25-admin.oktapreview.com/governance/api/v1/entitlement-bundles/enb18v0xqkrZKoXkX1d7","hints":{}}},"name":"Super Organization Administrator","de[...]
