---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-sep25.oktapreview.com
        body: |
            {"approvalSettings":{"type":"NONE"},"description":"Test request type created by SDK unit test","name":"test-sdk-request-type","ownerId":"68d4d26d899ab659c87c5317","resourceSettings":{"targetResources":[{"resourceId":"00gqd1g3h7drGOpDL1d7"}],"type":"GROUPS"}}
        headers:
            Content-Type:
                - application/json
        url: https://dcp-sep25.oktapreview.com/governance/api/v1/request-types
        method: POST
      response:
        body: '{"errorCode":"E0000001","errorSummary":"Api validation failed: resourceSettings/targetResources/0/resourceId format is invalid","errorLink":"E0000001","errorCauses":[{"domain":"governance","errorSummary":"format is invalid","locationType":"body","location":"/resourceSettings/targetResources/0/resourceId"}],"errorId":"3ca52a0477229de8d8049c7c79d71300"}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            X-Rate-Limit-Limit:
                - "15"
            X-Rate-Limit-Remaining:
                - "12"
            X-Rate-Limit-Reset:
                - "1773289906"
        status: 400 Bad Request
        code: 400
        duration: 1.589632166s
