---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-sep25.oktapreview.com
        headers:
        url: https://dcp-sep25.oktapreview.com/governance/api/v1/teams
        method: GET
      response:
        body: '{"data":[{"id":"68d4d26d899ab659c87c5317","name":"IT","created":"2025-09-25T05:26:05.307Z","lastUpdated":"2025-09-25T05:26:05.307Z"}],"links":{"self":{"href":"/governance/api/v1/teams"},"next":{}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json;charset=utf-8
            Etag:
                - W/"d0-LO+b1HaIhnNNm3/B9YkhUpHBx8w"
            Link:
                - <https://dcp-sep25.oktapreview.com/governance/api/v1/teams>; rel="self"
            X-Rate-Limit-Limit:
                - "30"
            X-Rate-Limit-Remaining:
                - "29"
            X-Rate-Limit-Reset:
                - "1773289910"
        status: 200 OK
        code: 200
        duration: 568.081292ms
