name: Prepare a Release Branch

on:
  workflow_dispatch:

jobs:
  prepareReleaseBranch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version-file: "go.mod"

      - name: Remove v2
        run: rm -rf governance go.mod go.sum

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.16.0

      - name: Install openapi generator
        run: npm install @openapitools/openapi-generator-cli -g

      - name: Set openapi generator version
        run: openapi-generator-cli version-manager set 7.15.0

      - name: Generate go client
        run: make generate

      - name: Add Go bin to PATH
        run: echo "$HOME/go/bin" >> $GITHUB_PATH

      - run: make fmt

      - run: make import

      - run: cd governance && mv go.mod go.sum ..

      - name: Remove configuration.go
        run: rm -f governance/configuration.go

      - name: Remove test folder
        run: rm -rf governance/test

      - name: Add okta-sdk-golang dependency
        run: go get github.com/okta/okta-sdk-golang/v6@latest

      - name: Tidy modules
        run: go mod tidy

      - name: Commit generated code
        uses: EndBug/add-and-commit@v9
        with:
          add: "."
          default_author: github_actor
          fetch: false
          message: "Add generated code"
          push: true
