---
version: 2
interactions:
    - id: 0
      request:
        host: dcp-sep25.oktapreview.com
        body: |
            {"name":"test-sdk-label","values":[{"name":"value1"},{"name":"value2"}]}
        headers:
            Content-Type:
                - application/json
        url: https://dcp-sep25.oktapreview.com/governance/api/v1/labels
        method: POST
      response:
        body: '{"labelId":"lbc18v2lemBedxq6l1d7","name":"test-sdk-label","values":[{"labelValueId":"lbl18v2len2Lk29141d7","name":"value1"},{"labelValueId":"lbl18v2leoxMONDRn1d7","name":"value2"}],"_links":{"self":{"href":"https://dcp-sep25-admin.oktapreview.com/governance/api/v1/labels/lbc18v2lemBedxq6l1d7","hints":{}}}}'
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            Content-Type:
                - application/json
            Link:
                - <https://dcp-sep25-admin.oktapreview.com/governance/api/v1/labels/lbc18v2lemBedxq6l1d7>; rel="self"
            Location:
                - https://dcp-sep25-admin.oktapreview.com/governance/api/v1/labels/lbc18v2lemBedxq6l1d7
            X-Rate-Limit-Limit:
                - "50"
            X-Rate-Limit-Remaining:
                - "49"
            X-Rate-Limit-Reset:
                - "1773221211"
        status: 201 Created
        code: 201
        duration: 509.285334ms
    - id: 1
      request:
        host: dcp-sep25.oktapreview.com
        headers:
        url: https://dcp-sep25.oktapreview.com/governance/api/v1/labels/lbc18v2lemBedxq6l1d7
        method: DELETE
      response:
        body: ""
        headers:
            Accept-Ch:
                - Sec-CH-UA-Platform-Version
            X-Rate-Limit-Limit:
                - "50"
            X-Rate-Limit-Remaining:
                - "48"
            X-Rate-Limit-Reset:
                - "1773221211"
        status: 204 No Content
        code: 204
        duration: 399.287583ms
